body {
    margin: 0;

    background-color: #fff;

    /* font-family: 'Lato', sans-serif; */
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #585858;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    margin: 0 0 10px;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header 
========================================*/
.header {
    width: 100%;

    background-color: rgba(0, 0, 0, .2);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    height: 85px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Nav
====================================== */
.nav {
    display: flex;
    height: 100%;

    font-size: 15px;
}

.nav__link {
    display: flex;
    align-items: center;
    padding: 0 15px;

    color: #fff;
    text-decoration: none;

    transition: background-color .1s linear;
}

.nav__link.active {
    background-color: #004AF2;
}

.nav__link:hover {
    background-color: #004AF2;
}

/* Intro
======================================== */
.intro {
    margin-bottom: 30px;

    background: #fff url("../images/intro-bg.jpg") no-repeat center / cover;
}

.intro__inner {
    height: 600px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.intro__text {
    margin-bottom: 45px;

    text-align: right;
}

.intro__countries {
    color: #fff;
    font-size: 15px;
}

.intro__title {
    position: relative;

    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 110px;
    line-height: 0.9;
    color: rgba(255, 255, 255, .8);
}

.intro__title-amp {
    position: absolute;
    right: 0;
    top: 50%;

    transform: translateY(-50%);

    font-size: 170px;
    font-weight: 900;
    color: rgba(255, 255, 255, .2);
}


/* Request form
========================================= */
.request-form {
    width: 100%;
    max-width: 400px;
    overflow: hidden;

    background-color: #004AF2;
    border-radius: 5px;
}

.request-form--intro {
    position: relative;
    bottom: -30px;
}

.request-form__header {
    padding: 20px 30px;

    background-color: #033FC9;
}

.request-form__title {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 900;
    color: #fff;
}

.request-form__text {
    color: #fff;
    line-height: 1.4;
}

.request-form__content {
    padding: 30px;
}

/* Form 
===========================================*/
.form__group {
    margin-bottom: 25px;
}

.input {
    display: block;
    width: 100%;
    padding-bottom: 12px;
    padding-left: 50px;

    background: none;
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, .25);

    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: #fff;

    transition: border-color .1s linear;
}

input::placeholder {
    color: #fff;
}

input:focus {
    outline: 0;
    border-bottom-color: #fff;
}

.input--user {
    background: url('../images/user-icon.svg') left 15px top 5px no-repeat;
}

.input--tel {
    background: url('../images/tel-icon.svg') left 15px top 5px no-repeat;
}

.input--email {
    background: url('../images/email-icon.svg') left 15px top 8px no-repeat;
}

/* Btn
============================================= */

.btn {
    display: inline-block;
    vertical-align: middle;
    padding: 15px 45px;

    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    line-height: 1.1;
    color: #fff;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    text-decoration: none;

    background: #333;
    border: 0;
    border-radius: 5px;
}

.btn--orange {
    background-image: linear-gradient(to right, #FF903E, #FF2C2C);
}

.btn--block {
    display: block;
    width: 100%;
}

/* Section
======================================== */
.section {
    padding: 60px 0;
}

.section--map {
    background: url('../images/clients/map.svg') left 30px top 130px no-repeat;
}

.section__title {
    margin-bottom: 40px;

    font-family: 'Lato', sans-serif;
    font-size: 45px;
    line-height: 1.2;
    font-weight: 900;
    color: #2C2C2C;
}

.section__title span {
    color: #0D53F2;
}

/* Services
====================================== */
.services {
    position: relative;
    padding: 30px 0 50px;

    display: flex;
    flex-wrap: wrap;

    background: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .1);
}

.services__main-title {
    position: absolute;
    right: 30px;
    bottom: 12px;
    z-index: 1;

    font-family: 'Lato', sans-serif;
    font-size: 90px;
    line-height: 1;
    font-weight: 900;
    color: rgba(44, 44, 44, .05);
    pointer-events: none;
}

.services__item {
    width: 25%;
    padding: 0 25px;
    margin-bottom: 30px;

    display: flex;
    flex-direction: column;

}

.services__title {
    margin-bottom: 20px;

    font-family: 'Lato', sans-serif;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 900;
    color: #2C2C2C;
}

.services__text {
    margin-bottom: 20px;

    color: #585858;
    font-size: 15px;
    line-height: 1.4;
}

.services__footer {
    margin-top: auto;
}

.services__link {
    display: inline-block;

    color: #004AF2;
    font-size: 15px;
    text-decoration: none;

    transition: color .1s linear;
}

.services__link:hover {
    color: #FD665A;
}

.services__link::after {
    content: '';
    display: block;
    width: 10px;
    height: 2px;
    margin-top: 5px;

    background-color: #004AF2;

    transition: width .1s linear;
}

.services__link:hover::after {
    width: 100%;

    background-color: #FD665A;
}

/* Clients
======================================= */
.clients {
    display: flex;
    margin-bottom: 60px;
}

.clients__logos {
    width: 60%;
}

.clients__reviews {
    width: 40%;
}

.clients__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.clients__list li {
    margin-right: 50px;
    margin-bottom: 40px;
}

.clients-love {
    display: inline-block;
    margin-left: 40px;
    padding-top: 5px;
    min-height: 47px;

    background: url('../images/clients/heart.svg') no-repeat left 19px top 0;

    color: #464646;
    font-size: 18px;

}

/* Reviews
======================================== */
.reviews {
    position: relative;
}

.reviews::before {
    content: '';
    display: block;
    width: 92px;
    height: 126px;

    background: url('../images/clients/lines.svg');

    position: absolute;
    top: -15px;
    left: 2px;
    z-index: 1;
}

.reviews__header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    position: relative;
    z-index: 2;
}

.reviews__header-content {
    flex-grow: 1;
    padding-left: 20px;

    font-family: 'Lato', sans-serif;
}

.reviews__photo {
    width: 100px;
    height: 100px;

    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
}

.reviews__name {
    font-size: 18px;
    font-weight: 900;
    color: #2C2C2C;
}

.reviews__company {
    font-size: 15px;
    color: #2C2C2C;
}

.reviews__content {
    font-size: 15px;
    line-height: 1.8;
    color: #585858;
}

.reviews__content p {
    margin-bottom: 20px;
    text-indent: 20px;
}